body{
    overflow-x: hidden;

}
.feature {
    height: 200vh;
    display: flex;
    align-items: center; 
    width: 100%;
    margin-top: -300px;
}
.feature .image-container img {
    margin-right: 0px;
    margin-top: 200px;
    width: 400px; 
    height: 400px;
    margin-left: 100px; 
    margin-bottom: 200px;
}


.feat-info{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 200px ;
}


.feat-info h5 {
    width: 200px;
    font-size: 20px;
    margin-left: 40px;
    margin-top: -200px;
    font-size: 20px;
    color:rgb(173, 34, 34);

}
.feat-info p{
    width: 300px;
    margin: 0; 
    margin-left: 40px;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;
}
.feat-card {
    left: 20px;
    margin-bottom: -50px;
    margin-left: 10px;

}
@media only screen and (max-width: 768px) {
    .feature {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .feature .image-container img {
        width: 40%;
        max-width: 400px;
        height: 450px;
        margin: 10px;
        margin-top: 100px;
    }

    .feat-info {
        flex: 1;
        margin: 10px;
        margin-top: 300px;
        margin-left: -100px;
        width:20%
    }

    .feat-info h5 {
        font-size: 10px;
        text-align: center;
        margin-left: -100px;

    }

    .feat-info p {
        font-size: 12px;
        text-align: center;
        margin-left: -100px;


    }

    .feat-card {
        flex: 1;
        margin: 20px;
        margin-left: -300px;
    }

}
