.home{
    position: relative;
    height: 100vh;
    margin-right: 30px;
    width:100%;
    overflow-x: hidden;

}
.home-fet{
    position: relative;
    height: 100vh;
    margin-right: 30px
}
.villas{
    margin-top: 2700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.villas .vills-top{
    justify-content: center;
    align-items: center;
}
.villas .vills-top h6 {
    margin-top: 200px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.villas .vills-top h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
    color: #1e1e1e;
}
.cardvilla{
    margin-top:100px;
    margin-bottom: 100px;
}

.contact .formpart{
    margin-top: -500px;
}
.map {
    position: absolute;
    justify-content: space-between;
    border: 0;
    width: 50%;
    flex: 1;
    margin-left: 20px;
    
}
iframe{ width: 100%; height: 400px; margin-top: -420px; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;
}
.contactcard-part{
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 40px;
    position: absolute;
    justify-content: space-between;

}
.contactcard-part2{
    margin-top: 0px;
    margin-left: 350px;

}
.footer-part-home{
    display: flex;
    margin-top: 350px;
    overflow-x: hidden;
}
